﻿body {
}

div#general{
    margin:auto;
    margin-top:50px;
    width:70%;
    height:90%;
}

div#cabecera {
  width: 70%;
  height: 50px;
  left: 70%;
}

div#doc {
  display:inline-block;
  width: 29%;
  text-align: center;
}

div#eservice {
  display:inline-block;
  width: 40%;
  height: 100px;
  text-align: center;
  vertical-align:top;
}

div#body {
  margin-top:20px;
  width: 65%;
  height: 350px;
  left: 70%;
}

div#form {
    margin-left:20px;
    float:right;
    height: 300px;
    width: 35%;
    text-align: center;
    background-color:whitesmoke;
}

div#footer{
  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  font-size:x-small; 
}

.p_home {
    font-size:small; 
}
